body {
  margin: 0;
  padding: 0;
  height: 350px;
  width: 200px;
  display: grid;
  place-items: center;
  grid-template:
    'header' auto
    'main' 1fr
    / 1fr;
}

main {
  display: grid;
  place-items: center;
}
canvas {
  max-width: 200px;
}
