#url-shortener-popup {
  position: absolute !important;
  height: 25px !important;
  width: 25px !important;
  background: lightgray !important;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  z-index: 99999 !important;
}

#url-shortener-link-element {
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 2px !important;
  position: absolute !important;
  width: 145px !important;
  border-radius: 4px !important;
  background: lightgray !important;
  bottom: 110% !important;
  left: 0 !important;
  cursor: default !important;
}
